In [69]:
import pandas as pd
import numpy as np

In [4]:
pd1=pd.read_csv("greek_goddesses.csv")
pd2=pd.read_csv("greek_gods.csv")

In [6]:
pd3=pd.merge(pd1,pd2,how="outer")
print(pd3)

      Goddess                   Domain         Symbol    Age       God
0   Aphrodite          Goddess of Love           Dove   7000       NaN
1     Artemis      Goddess of the Hunt  Bow and Arrow   7500       NaN
2     Demeter   Goddess of Agriculture          Wheat   8000       NaN
3      Hestia    Goddess of the Hearth           Fire   8200       NaN
4  Persephone  Queen of the Underworld    Pomegranate   7800       NaN
5         NaN         King of the Gods    Thunderbolt  10000      Zeus
6         NaN           God of the Sea        Trident   9000  Poseidon
7         NaN        Queen of the Gods        Peacock   8500      Hera
8         NaN        Goddess of Wisdom            Owl   8000    Athena
9         NaN    God of the Underworld         Helmet   9500     Hades

In [8]:
pd4=pd3[(pd3['Age'] > 8000)].sort_values(by=['Age'], ascending=False)
print(pd4)

  Goddess                 Domain       Symbol    Age       God
5     NaN       King of the Gods  Thunderbolt  10000      Zeus
9     NaN  God of the Underworld       Helmet   9500     Hades
6     NaN         God of the Sea      Trident   9000  Poseidon
7     NaN      Queen of the Gods      Peacock   8500      Hera
3  Hestia  Goddess of the Hearth         Fire   8200       NaN

In [14]:
pd5=pd3.groupby('Domain')['Age'].mean()
print(pd5)

Domain
God of the Sea              9000.0
God of the Underworld       9500.0
Goddess of Agriculture      8000.0
Goddess of Love             7000.0
Goddess of Wisdom           8000.0
Goddess of the Hearth       8200.0
Goddess of the Hunt         7500.0
King of the Gods           10000.0
Queen of the Gods           8500.0
Queen of the Underworld     7800.0
Name: Age, dtype: float64

In [35]:
max_age=pd3.loc[pd3['Age'].idxmax()]
if pd.isnull(max_age.loc['Goddess']):
    print("God")
else:
    print("Goddess")

God

In [46]:
bins=[0,5000,8000,float('inf')]
labels=['Young','Middle-Aged','Old']
pd1['Age_Group']=pd.cut(pd1['Age'],bins=bins,labels=labels,right=False)
print(pd1)
pd2['Age_Group']=pd.cut(pd2['Age'],bins=bins,labels=labels,right=False)
print(pd2)

      Goddess                   Domain         Symbol   Age    Age_Group
0   Aphrodite          Goddess of Love           Dove  7000  Middle-Aged
1     Artemis      Goddess of the Hunt  Bow and Arrow  7500  Middle-Aged
2     Demeter   Goddess of Agriculture          Wheat  8000          Old
3      Hestia    Goddess of the Hearth           Fire  8200          Old
4  Persephone  Queen of the Underworld    Pomegranate  7800  Middle-Aged
        God                 Domain       Symbol    Age Age_Group
0      Zeus       King of the Gods  Thunderbolt  10000       Old
1  Poseidon         God of the Sea      Trident   9000       Old
2      Hera      Queen of the Gods      Peacock   8500       Old
3    Athena      Goddess of Wisdom          Owl   8000       Old
4     Hades  God of the Underworld       Helmet   9500       Old

In [47]:
avg_age_god = pd1['Age'].mean()
avg_age_goddess = pd2['Age'].mean()
if avg_age_god > avg_age_goddess:
    print("Gods tend to be older")
elif avg_age_goddess > avg_age_god:
    print("Goddess tend to be older")
else:
    print("there is no difference between the avg age")

Goddess tend to be older

In [79]:
pd3['Goddess'] = pd3['Goddess'].replace(np.nan, 0)
pd3['God'] = pd3['God'].replace(np.nan, 0)
for i in pd3['Age']:
    if i>8000:
        a=pd3.loc[pd3['Age']==i,'God']
        b=pd3.loc[pd3['Age']==i,'Goddess']
        if a.item()=="":
            print(b)
        else:
            print(a)

3    0
Name: God, dtype: object
5    Zeus
Name: God, dtype: object
6    Poseidon
Name: God, dtype: object
7    Hera
Name: God, dtype: object
9    Hades
Name: God, dtype: object